<%= form_for :session, url: login_path do |f| %>
<div class="form-content_elemnet">
    <div><%= f.label :email %>
    </div><%=f.text_field :email %>
</div>
<div class="form-content_elemnet">
    <div>
        <%= f.label :password %>
    </div>
    <%=f.password_field :password%>
</div>

<%=f.submit 'ログイン'%>
<%end%>